{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/essential"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6
  },
  "plugins": [
    "vue"
  ],
  "rules": {
    "no-console": 1,
    "no-empty": 0,
    "no-useless-catch": 0
  }
}
